<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rcksuporte05.rcksistemas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeuTema">
        <activity
            android:name=".interfaces.MainActivity"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".interfaces.PrincipalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interfaces.ActivityCliente"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".interfaces.ActivityProduto" />
        <activity android:name=".interfaces.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".interfaces.CadastroClienteMain" />
        <activity
            android:name=".interfaces.ActivityPedidoMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".interfaces.ProdutoPedidoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".interfaces.ListagemPedidoPendente"
                  android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".interfaces.ListagemPedidoEnviado"
            android:theme="@style/Theme.MeuTema"
            />
        <activity
            android:name=".interfaces.HistoricoFinanceiroMain"
            android:screenOrientation="portrait" />
        <activity android:name=".interfaces.ContatoActivity" />
        <activity
            android:name=".interfaces.ActiviyDialogSincronia"
            android:theme="@style/Theme.CriarDialog" />
        <activity
            android:name=".interfaces.ActivityDialogProdutoDetalhe"
            android:theme="@style/Theme.CriarDialog" />
        <activity
            android:name=".interfaces.infoDialog"
            android:theme="@style/Theme.CriarDialog" />
    </application>

</manifest>